@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}
/* img in cards*/
.card-img-top {
  aspect-ratio: 1/1;
}


/* nav bar toggle */
.navbar-toggle {
  border: none;
  margin: 0 auto;
}
.navbar-toggle i {
  text-align: center;
  color: #4bbf73;
}

/* HomeSlider */

.home-slider-inner {
  height: 600px;
  width: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-title {
  margin-top: 10rem;
  font-family: 'PT Serif', serif;
  color: #ffffff;
  font-size: 2.2rem;
}

.buy-art {
  background-color: black;
}

/* jumbotron */
.jumbotron-about-galileo {
  text-align: center;
}

/* carousel */
.carousel {
  margin-top: 1vh;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 span {
  font-size: 1rem;
  color: gray;

}

.carousel-caption h2 {
  color: black;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}
.modal-content {
  color: rgb(2, 248, 203);
  font-weight: bold;
  text-align: center;

}

.carousel-caption h2 {
  color: black;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}
.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}

.carousel a {
  margin: 0 auto;
}

/*notifications number*/
.notifications-num_container {
  background-color: red;
  border: 1px solid white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 9px;
  left: 21px;
}
.notifications-num {
  display: inline-block;
  color: #fff;
  border-radius: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.relative {
  position: relative;
}

.autocomplete-box {
  background-color: #ffffff;
  position: absolute;
  right: 0;
  top: 3rem;
  width: 70%;
  z-index: 100;
}

.autocomplete-box ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.autocomplete-item {
  list-style: none;
  text-align: left;
  margin: 0 auto;
  padding: 1rem;
  min-height: 3rem;
}

.autocomplete-item:hover {
  background-color: #ececec;
  cursor: pointer;
}

/* filter */
select.filter-select.form-control:focus {
  background-color: #ffffff;
  border-color: #ffffff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(255 255 255 / 25%);
}
select.filter-select.form-control {
  display: block;
  width: auto;
  height: calc(1.5em + 1.5rem + 0px);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #55595c;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 0px solid #ffffff;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-right: 1.4rem;
}

select.filter-max.form-control,
select.filter-min.form-control {
  padding: 0.5rem 0.2rem;
}
